
  <mat-card class="calender-card">
    <mat-card-content class="calender-content">

      <div class="col-lg-8 col-md-12" fxLayout="column" fxFlexFill fxLayoutGap cols="1">
        
        <div fxLayout="row" fxLayoutAlign="space-between center" style="height: 40px;">
          <div class="page-sub-title">
            <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
          </div>
          <div>
            <button mat-icon-button mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
              (viewDateChange)="closeOpenMonthViewDay($event)">
              <mat-icon class="customfab-icon-black-sm-center" fontSet="fa" fontIcon="fa-chevron-left"></mat-icon>
            </button>
            <button mat-button mwlCalendarToday [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay($event)">
              Today
            </button>
            <button mat-icon-button mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
              (viewDateChange)="closeOpenMonthViewDay($event)">
              <mat-icon class="customfab-icon-black-sm-center" fontSet="fa" fontIcon="fa-chevron-right"></mat-icon>
            </button>
            &nbsp;
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [value]="view">
              <mat-button-toggle (click)="setView(CalendarView.Month)" value="month">Month</mat-button-toggle>
              <mat-button-toggle (click)="setView(CalendarView.Week)" value="week">Week</mat-button-toggle>
              <mat-button-toggle (click)="setView(CalendarView.Day)" value="day">Day</mat-button-toggle>
              <!-- <mat-button-toggle (click)="setView(CalendarView.List)" value="list">List</mat-button-toggle> -->
            </mat-button-toggle-group>
            &nbsp;
                  <button mat-button mat-flat-button color="warn" (click)="onAdd()">
                    <mat-icon>add</mat-icon> Add
                  </button>
          </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10" fxFlexOffset="30px">
          <div>
            <ng-container>
              <div [ngSwitch]="view">
                <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
                  [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
                  (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
                </mwl-calendar-month-view>
                <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
                  [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                  (eventTimesChanged)="eventTimesChanged($event)">
                </mwl-calendar-week-view>
                <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
                  [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                  (eventTimesChanged)="eventTimesChanged($event)">
                </mwl-calendar-day-view>
              </div>

            </ng-container>
            <ng-template #loading>
              <app-loading align="center"></app-loading>
            </ng-template>

          </div>
        </div>
      </div>

    </mat-card-content>
    <mat-card-content class="event-content">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Upcomming Events</h5>
          <small>This Month Upcomming </small>
          <hr>      
          <div >
            <ul class="list-unstyled mb-0 eventscroll">
              <li>
                <label class="custom-control pl-0">
                  <span>Title</span>
                  <span class="float-right">date </span>
                </label>
              </li>        
            </ul>
          </div>
          <hr>
          <h5 class="card-title mt-3">Event List</h5>
          <small>This Month Event</small>
          <hr>
          <div id="event-list" class="fc event_list eventscroll">        
            <div > Title <span class="float-right"> Date</span></div>
          </div>
        </div>                            
      </div>
    </mat-card-content>
  </mat-card>
  
