<form [formGroup]="floorForm">
    <div class="m-3">
        <div fxLayout="row" fxLayoutAlign="space-between center" style="height: 40px">
            <div fxFlex>
                <h5 mat-dialog-title class="title-sub">Floor Detail</h5>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10">
                <button mat-flat-button [mat-dialog-close]="true" color="primary" type="submit" (click)="save()"
                    [disabled]="!floorForm.valid">
                    <mat-icon class="customfab-icon-white" fontSet="fa" fontIcon="fa-save"></mat-icon>
                    Save
                </button>
                <button mat-icon-button mat-dialog-close cdkFocusInitial>
                    <mat-icon class="fa fa-large mr-2" fontSet="fa" fontIcon="fa-times"></mat-icon>
                </button>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <!-- <mat-dialog-content> -->
    <input type="hidden" id="ID" formControlName="ID" />
    <div fxLayout="column" fxFlexFill>
        <mat-tab-group>
            <mat-tab label="Page Info">
                <ng-template mat-tab-label> Basic Info </ng-template>
                <ng-template matTabContent>
                    <mat-dialog-content>
                        <div fxLayout="column" fxLayoutAlign="start stretch">
                            <app-single-file-upload fxFlex="50" #imageControl (complete)="onFileComplete($event)">
                            </app-single-file-upload>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="start stretch">
                            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap>
                                <mat-label class="label m-2">Title</mat-label>
                                <mat-form-field fxLayout="column" class="full-width" fxFlex appearance="outline">
                                    <input type="text" id="title" class="input" placeholder="Enter Title"
                                        formControlName="title" required matInput #title appSlugTransform />
                                    <a mat-icon-button *ngIf="title.value" matSuffix md-icon-button aria-label="Clear"
                                        (click)="title.value = ''">
                                        <mat-icon>close</mat-icon>
                                    </a>
                                    <mat-error *ngIf=""> Please enter a valid Title </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap>
                                <mat-label class="label m-2">Title Ar</mat-label>
                                <mat-form-field fxLayout="column" class="full-width" fxFlex appearance="outline">
                                    <input type="text" id="titleAr" class="input" placeholder="Enter Title"
                                        formControlName="titleAr" required matInput #titleAr appSlugTransform />
                                    <a mat-icon-button *ngIf="titleAr.value" matSuffix md-icon-button aria-label="Clear"
                                        (click)="titleAr.value = ''">
                                        <mat-icon>close</mat-icon>
                                    </a>
                                    <mat-error *ngIf=""> Please enter a valid Title Ar </mat-error>
                                </mat-form-field>
                            </div>


                            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap>
                                <mat-label class="label m-2">Select Branch</mat-label>
                                <mat-form-field fxLayout="column" class="full-width" fxFlex appearance="outline">
                                <mat-select formControlName="branchId" placeholder="Select Country">
                                    <mat-option *ngFor="let branch of branches" [value]="branch.id">{{ branch.title
                                    }}</mat-option>
                                </mat-select>
                                </mat-form-field>
                            </div>



                            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap>
                                <mat-label class="label m-2">Sort Order</mat-label>
                                <mat-form-field fxLayout="column" class="full-width" fxFlex appearance="outline">
                                    <input type="text" id="sortOrder" class="input" placeholder="Enter Sort Order"
                                        formControlName="sortOrder" required matInput #sortOrder appSlugTransform />
                                    <a mat-icon-button *ngIf="sortOrder.value" matSuffix md-icon-button
                                        aria-label="Clear" (click)="sortOrder.value = ''">
                                        <mat-icon>close</mat-icon>
                                    </a>
                                    <mat-error *ngIf=""> Please enter a valid sort Order </mat-error>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap>
                                <mat-checkbox class="full-width" formControlName="active" fxFlex>Active</mat-checkbox>
                            </div>
                        </div>
                    </mat-dialog-content>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
    <!-- </mat-dialog-content> -->
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
        <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
        <button mat-raised-button [mat-dialog-close]="true" color="primary" type="submit" [disabled]="!floorForm.valid"
            (click)="save()">
            <mat-icon class="customfab-icon-white" fontSet="fa" fontIcon="fa-save"></mat-icon>
            Save
        </button>
    </mat-dialog-actions>
</form>