<div
  fxFlex
  fxLayout="column"
  fxLayoutAlign="space-between stretch"
  class="content-container-all"
>
  <mat-card>
    <mat-card-content>
      <div fxLayout="column" fxFlexFill fxLayoutGap cols="1">
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          style="height: 40px"
        >
          <div class="page-sub-title">PAGES LIST</div>
          <div>
            <a mat-button mat-flat-button color="warn" (click)="onAdd()">
              <mat-icon>add</mat-icon> Add
            </a>
            &nbsp;
            <button
              mat-button
              mat-flat-button
              color="warn"
              (click)="onRemoveAll()"
            >
              <mat-icon>delete</mat-icon> Delete
            </button>
          </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start stretch">
          <!-- <mat-form-field>
                        <mat-label>Filter</mat-label>
                        <input matInput placeholder="" #searchInput [formControl]="search">

                        <!-- <mat-icon matSuffix>mode_search</mat-icon> -- >
                    <mat-icon matPrefix fontSet="fa" fontIcon="fa-search"></mat-icon>
                    <button mat-button *ngIf="searchInput.value" matSuffix md-icon-button aria-label="Clear"
                        (click)="reload()">
                        <mat-icon>close</mat-icon>
                    </button>
                    </mat-form-field> -->
          <div>
            <ng-container
              *ngIf="dataSource.filteredData.length > 0; else loading"
            >
              <table mat-table [dataSource]="dataSource" matSort>
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox
                      (change)="$event ? toggleAllRows() : null"
                      color="primary"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()"
                    >
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox
                      (click)="$event.stopPropagation()"
                      color="primary"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)"
                    >
                    </mat-checkbox>
                  </td>
                </ng-container>

                <!-- Position Column -->
                <ng-container matColumnDef="slug">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    slug
                  </th>
                  <td mat-cell *matCellDef="let element">{{ element.slug }}</td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="title">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Title
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.title }}
                  </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="availableVersion">
                  <th mat-header-cell *matHeaderCellDef>Current Version</th>
                  <td mat-cell *matCellDef="let element">
                    <div
                      fxFlexFill
                      fxLayout="row"
                      fxLayoutAlign="space-between center"
                    >
                      <mat-select
                        [(ngModel)]="element.currentVersion"
                        (selectionChange)="changeVersion($event, element.id)"
                        name="availableVersion"
                        id="availableVersion"
                      >
                      
                        <mat-option (click)="newVersion(element.id)">New Version</mat-option>
                        <mat-option
                          *ngFor="let v of element.availableVersion"
                          [attr.selected]="
                            element.currentVersion == v ? true : null
                          "
                          [value]="v"
                        >
                          {{ v }}
                        </mat-option>
                      </mat-select>

                      <button
                        (click)="
                          publishVersion(element.id, element.currentVersion)
                        "
                        mat-icon-button
                        *ngIf="
                          element.publishedVersion != element.currentVersion
                        "
                      >
                        <mat-icon class="customfab-icon_success"
                          >publish</mat-icon
                        >
                      </button>

                      <!-- (click)="unpublishVersion(element.id)" -->
                    </div>
                    <!-- 
                    <b
                      style="
                        background-color: green;
                        color: aliceblue;
                        padding: 5px;
                        margin: 5px;
                        border-radius: 5px;
                      "
                      >{{
                        element.publishedVersion
                          ? "pv : " + element.publishedVersion
                          : "Not published"
                      }}</b
                    > -->
                  </td>
                </ng-container>

                <ng-container matColumnDef="publishVersion">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                  <td mat-cell *matCellDef="let element">
                    <ng-container
                      *ngIf="element.publishedVersion.length > 0 "
                    >
                      <b
                        _ngcontent-xwa-c184=""
                        style="
                          text-align: center;
                          background-color: green;
                          color: aliceblue;
                          padding: 5px;
                          margin: 5px;
                          border-radius: 5px;
                        "
                        >{{element.publishedVersion}}</b
                      >
                    </ng-container>
                  </td>
                </ng-container>

                <ng-container matColumnDef="LastEditDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    LastEditDate
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.lastEditDate | date : "medium" }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="isPublish">
                  <th mat-header-cell *matHeaderCellDef>Publish</th>
                  <td mat-cell *matCellDef="let element">
                    <mat-slide-toggle
                      [color]="'primary'"
                      [checked]="element.publishedVersion ? true : false"
                      (click)="unpublishVersion(element.id)"
                    ></mat-slide-toggle>

                    <!-- (change)="chkActive_changed(element, $event)" -->

                     <!-- {{element | json}}   -->
                  </td>
                </ng-container>

                <!-- <ng-container matColumnDef="Design">
                  <th mat-header-cell *matHeaderCellDef>Design</th>
                  <td mat-cell *matCellDef="let element">
                    <a
                      mat-button
                      md-icon-button
                      matSuffix
                      (click)="onEditDesign(element.id)"
                    >
                      <mat-icon>edit</mat-icon> Edit
                    </a>
                  </td>
                </ng-container> -->

                <ng-container matColumnDef="ID" stickyEnd>
                  <th mat-header-cell *matHeaderCellDef>Action</th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>

                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="onEditDesign(element.id)">
                        <mat-icon>edit</mat-icon>
                        <span>Edit Design</span>
                      </button>

                      <button mat-menu-item (click)="newVersion(element.id)">
                        <mat-icon>add</mat-icon>
                        <span>New Version</span>
                      </button>

                      <button mat-menu-item (click)="onEdit(element)">
                        <mat-icon>edit</mat-icon>
                        <span>Edit Record</span>
                      </button>

                      <button mat-menu-item (click)="ondelete(element.id)">
                        <mat-icon>delete</mat-icon>
                        <span>Delete Record</span>
                      </button>

                      <!-- <button
                        mat-button
                        matSuffix
                        md-icon-button
                        aria-label="Clear"
                        (click)="ondelete(element.id)"
                      >
                        <mat-icon>delete</mat-icon>
                      </button>
                       -->
                    </mat-menu>

                    <!-- <a
                      mat-button
                      md-icon-button
                      matSuffix
                      (click)="newVersion(element.id)"
                    >
                      <mat-icon>add</mat-icon>New Version
                    </a>

                    <a
                      mat-button
                      md-icon-button
                      matSuffix
                      (click)="onEdit(element)"
                    >
                      <mat-icon>edit</mat-icon>
                    </a>
                    <button
                      mat-button
                      matSuffix
                      md-icon-button
                      aria-label="Clear"
                      (click)="ondelete(element.id)"
                    >
                      <mat-icon>delete</mat-icon>
                    </button> -->
                  </td>
                </ng-container>

                <tr
                  mat-header-row
                  *matHeaderRowDef="displayedColumns; sticky: true"
                ></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>
              <mat-paginator
                [pageSizeOptions]="[10, 50, 100]"
                showFirstLastButtons
              ></mat-paginator>
            </ng-container>
            <ng-template #loading>
              <app-loading align="center"></app-loading>
            </ng-template>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
