
mat-table{
  text-align:center;
  font-size:11px;
  color: #1a084c;
  // width: 440px;
  height: 250px;
  overflow:auto;    
 }

mat-header-cell, mat-header-row, .mat-header-cell-def{
  min-height:25px; 
  font-weight:bold;
  font-size:13px;
  color: #1a084c;
  margin-bottom:5px;
  top: 10px;
  position: sticky;
  z-index: 1;
  background-color: inherit;
}

.raised-button{
 text-decoration: none;
}
.left_right{
  display: grid;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
}
