<div fxLayout="column" fxFlexFill fxLayoutAlign="center center" style="background-image:url('../../../assets/login-bg.png');
height: 100%;
background-repeat: no-repeat;
background-position: center;
background-size: cover; ">
    <div fxLayout="column">

        <div class=" mat-elevation-z0">
            <mat-card appearance="outlined" @fadeAnimation class="mat-elevation-z0">
                <mat-card-title-group fxLayout="row" fxLayoutAlign="start center">

                    <mat-card-title fxLayout="row" fxLayoutAlign="start center">
                        <img mat-card-sm-img src="assets/icons/lockicon.png" />&nbsp;&nbsp;
                        <h2 class="heading">{{'sign in' | uppercase}}</h2>
                    </mat-card-title>

                </mat-card-title-group>
                <mat-card-content fxLayout="column" fxLayoutAlign="start stretch">
                    <form fxLayout="column" fxLayoutAlign="space-evenly stretch" [formGroup]="userForm"
                        (ngSubmit)="login()">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>User name</mat-label>
                            <input type="username" id="username" class="input" placeholder="User name"
                                formControlName="username" required matInput>
                            <mat-icon matPrefix class="customfab-icon" fontSet="fa" fontIcon="fa-unlock"></mat-icon>
                            <mat-error *ngIf="userForm.hasError('incorrect')">
                                Please enter a valid email address
                            </mat-error>
                        </mat-form-field>
                        <div *ngIf="formErrors.username" class="help is-danger">
                            {{ formErrors.username }}
                        </div>

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input type="password" id="password" class="input" placeholder="Password"
                                formControlName="password" required matInput>
                            <mat-icon matPrefix class="customfab-icon" fontSet="fa" fontIcon="fa-user"></mat-icon>
                        </mat-form-field>
                        <div *ngIf="formErrors.password" class="help is-danger">
                            {{ formErrors.password }}
                        </div>
                        {{error}}

                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <mat-checkbox class="">Remember me</mat-checkbox>
                            <a class="redirect" [routerLink]="['/forgotpassword']">Forgot Password</a>
                        </div>

                        <!-- [disabled]="!userForm.valid"  -->
                        <button mat-raised-button color="primary" type="submit" style="margin: 20px 0;">log in</button>


                        <a class="redirect" style="text-align: center;" [routerLink]="['/sigup']">Register an
                            account</a>
                    </form>
                    <div fxLayout="row" fxLayoutAlign="space-evenly center" style="margin-top: 20px;">
                        <button mat-icon-button aria-label="LIKE" (click)="toggle()">
                            <mat-icon class="custom-big-icon" svgIcon="google">google</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="LIKE" (click)="toggle()">
                            <mat-icon class="custom-big-icon" svgIcon="facebook"></mat-icon>
                        </button>
                        <button mat-icon-button aria-label="LIKE" (click)="toggle()">
                            <mat-icon class="custom-big-icon" svgIcon="twitter">twitter</mat-icon>
                        </button>

                    </div>
                    <!-- <br />
                    Login with Google

                    <div class="g-signin2" data-onsuccess="onSignIn">Google SignOn</div>

                    <div class="g-signin2" data-onsuccess="onSignIn" data-gapiscan="true" data-onload="true">
                        <div style="height:36px;width:120px;" class="abcRioButton abcRioButtonLightBlue">
                            <div class="abcRioButtonContentWrapper">
                                <div class="abcRioButtonIcon" style="padding:8px">
                                    <div style="width:18px;height:18px;" class="abcRioButtonSvgImageWithFallback abcRioButtonIconImage abcRioButtonIconImage18">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 48 48" class="abcRioButtonSvg"><g><path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path><path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path><path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path><path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path><path fill="none" d="M0 0h48v48H0z"></path></g></svg>
                                    </div>
                                </div>
                                <span style="font-size:13px;line-height:34px;" class="abcRioButtonContents">
                                    <span id="not_signed_ind66ngzr9cu4z">Sign in</span>
                                    <span id="connectedd66ngzr9cu4z" style="display:none">Signed in</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <iframe id="ssIFrame_google" sandbox="allow-scripts allow-same-origin" aria-hidden="true" frame-border="0" style="position: absolute; width: 1px; height: 1px; left: -9999px; top: -9999px; right: -9999px; bottom: -9999px; display: none;" src="https://accounts.google.com/o/oauth2/iframe#origin=http%3A%2F%2Flocalhost%3A4200&amp;rpcToken=719053949.4488811&amp;clearCache=1"></iframe> -->
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>