<form >
    <div class="m-3">
        <div fxLayout="row" fxLayoutAlign="space-between center" style="height: 40px">
            <div fxFlex>
                <h5 mat-dialog-title class="title-sub">Pending Service Requests</h5>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10">
                <button (click)="addServiceRequests()" mat-flat-button [mat-dialog-close]="true" color="primary" type="submit">
                    <mat-icon class="customfab-icon-white" fontSet="fa" fontIcon="fa-add"></mat-icon>
                    NEW REQUEST
                </button>
                <button mat-icon-button mat-dialog-close cdkFocusInitial>
                    <mat-icon class="fa fa-large mr-2" fontSet="fa" fontIcon="fa-times"></mat-icon>
                </button>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <!-- <mat-dialog-content> -->
 
    <div fxLayout="column" fxFlexFill>
        <!-- <mat-tab-group>
            <mat-tab label="Page Info">
                <ng-template mat-tab-label> Basic Info </ng-template>
                <ng-template matTabContent>
                  
                </ng-template>
            </mat-tab>
        </mat-tab-group> -->


        <mat-dialog-content>
                 
            <div fxLayout="column" fxLayoutAlign="start stretch">
             
                    <mat-card *ngFor="let req of servicerequest"  style="width: 100%; padding: 10px;  border: 1px solid #bebebe;margin-bottom:10px">
                      
                        <div style="display: flex; justify-content: right;">
                           <mat-card-title class="page-sub-title">Admission Number : {{ req.admissionNo }}</mat-card-title>                        
                        </div>

                        <div style="display: flex; justify-content: right;">
                            <mat-card-title class="page-sub-title">Patient Id : {{ req.patientId }}</mat-card-title>
                        </div>
 
  
                        <mat-card-title class="page-sub-title">Service Name : {{ req.service.title }}</mat-card-title>
                        <mat-card-title class="page-sub-title">Service Status : {{ req.status }}</mat-card-title>
                        <mat-card-title class="page-sub-title">Service Request : {{ req.request }}</mat-card-title>

                      </mat-card>

            </div>
        </mat-dialog-content>


    </div>
    <!-- </mat-dialog-content> -->
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
        <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
        <!-- <button mat-raised-button [mat-dialog-close]="true" color="primary" type="submit" >
            <mat-icon class="customfab-icon-white" fontSet="fa" fontIcon="fa-save"></mat-icon>
            Save
        </button> -->
    </mat-dialog-actions>
</form>