<form>
  <div class="m-3">
    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      style="height: 40px"
    >
      <div fxFlex>
        <h5 mat-dialog-title class="title-sub">Patient Complaints</h5>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10">
        <!-- <button
          (click)="addServiceRequests()"
          mat-flat-button
          [mat-dialog-close]="true"
          color="primary"
          type="submit"
        >
          <mat-icon
            class="customfab-icon-white"
            fontSet="fa"
            fontIcon="fa-add"
          ></mat-icon>
          NEW REQUEST
        </button> -->
        <button mat-icon-button mat-dialog-close cdkFocusInitial>
          <mat-icon
            class="fa fa-large mr-2"
            fontSet="fa"
            fontIcon="fa-times"
          ></mat-icon>
        </button>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <!-- <mat-dialog-content> -->

  <div fxLayout="column" fxFlexFill>
     

    <mat-dialog-content>
      <div fxLayout="column" fxLayoutAlign="start stretch">
       
        <div *ngIf="serviceComplaintList.length > 0? false:true ">
          <h2> No Patient Coplaints</h2>
        </div>

        <mat-card
          *ngFor="let req of serviceComplaintList"
          style="
            width: 100%;
            padding: 10px;
            border: 1px solid #bebebe;
            margin-bottom: 10px;
          "
        >
          <div style="display: flex; justify-content: left">
            <mat-card-title class="page-sub-title"
              >Patient Complaint : {{ req.serviceDescription }}</mat-card-title
            >
          </div>

          <div style="display: flex; justify-content: left">
            <mat-card-title class="page-sub-title"
              >Patient Id : 123</mat-card-title
            >
          </div>

          <!-- <mat-card-title class="page-sub-title"
            >Service Name : {{ req.service.title }}</mat-card-title
          > -->

          <div style="display: flex; margin:2px; justify-content: space-between;">
            <mat-card-title class="page-sub-title"
              >Service Status : {{req.feedBackType | enumtostring: ComplainStatus}}
            </mat-card-title>
          </div>

          <!-- <mat-card-title class="page-sub-title"
            >Service Request : {{ req.request }}</mat-card-title
          > -->
        </mat-card>
      </div>
    </mat-dialog-content>
  </div>
  <!-- </mat-dialog-content> -->
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
    
  </mat-dialog-actions>
</form>
