<form [formGroup]="servicerequestForm">
    <div class="m-3">
        <div fxLayout="row" fxLayoutAlign="space-between center" style="height: 40px">
            <div fxFlex>
                <h5 mat-dialog-title class="title-sub">Service Request Detail</h5>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10">
                <button mat-flat-button [mat-dialog-close]="true" color="primary" type="submit" (click)="save()"
                    [disabled]="!servicerequestForm.valid">
                    <mat-icon class="customfab-icon-white" fontSet="fa" fontIcon="fa-save"></mat-icon>
                    Save
                </button>
                <button mat-icon-button mat-dialog-close cdkFocusInitial>
                    <mat-icon class="fa fa-large mr-2" fontSet="fa" fontIcon="fa-times"></mat-icon>
                </button>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <!-- <mat-dialog-content> -->
    <input type="hidden" id="ID" formControlName="ID" />
    <div fxLayout="column" fxFlexFill>
        <mat-tab-group>
            <mat-tab label="Page Info">
                <ng-template mat-tab-label> Basic Info </ng-template>
                <ng-template matTabContent>
                    <mat-dialog-content>
                 
                        <div fxLayout="column" fxLayoutAlign="start stretch">
                            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap>
                                <mat-label class="label m-2">Select Service</mat-label>
                                <mat-form-field fxLayout="column" class="full-width" fxFlex appearance="outline">
                                <mat-select formControlName="serviceId" placeholder="Select Service">
                                    <mat-option *ngFor="let service of services" [value]="service.id">{{ service.title}}</mat-option>
                                </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxLayout="column"*ngIf="roomShow" fxLayoutAlign="start stretch" fxLayoutGap>
                                <mat-label class="label m-2">Select Room</mat-label>
                                <mat-form-field fxLayout="column" class="full-width" fxFlex appearance="outline">
                                <mat-select (selectionChange)="checkRoom($event.value)" placeholder="Select Room">
                                    <mat-option *ngFor="let room of rooms" [value]="room">{{ room.roomNo}}</mat-option>
                                </mat-select>
                                </mat-form-field>
                            </div>

                            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap class="d-none">
                                <mat-label class="label m-2">Request Status</mat-label>
                                <mat-form-field fxLayout="column" class="full-width" fxFlex appearance="outline">
                                <mat-select formControlName="status" placeholder="Select status">
                                    <mat-option *ngFor="let req of requestStatus" [value]="req.id">{{ req.title
                                    }}</mat-option>
                                </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap>
                                <mat-label class="label m-2">Request</mat-label>
                                <mat-form-field fxLayout="column" class="full-width" fxFlex appearance="outline">
                                    <input type="text" id="request" class="input" placeholder="Enter Request"
                                        formControlName="request" required matInput #request />
                                     
                                </mat-form-field>
                            </div>

                        </div>
                    </mat-dialog-content>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div> 
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
        <button mat-raised-button [mat-dialog-close]="true" color="primary" type="submit" [disabled]="!servicerequestForm.valid"
            (click)="save()">
            <mat-icon class="customfab-icon-white" fontSet="fa" fontIcon="fa-save"></mat-icon>
            Save
        </button>
    </mat-dialog-actions>
</form>