<!-- DRAWYER CHAT  START-->
<!--
<button>CHAT OPEN</button>
<button>CHAT clI</button> -->


<!--  -->
<!-- <ng-template
  [cdkConnectedOverlayOrigin]="chatOverlay"
  cdkConnectedOverlay
  [cdkConnectedOverlayOpen]="isChatOpen"
  [cdkConnectedOverlayPositions]="positions"
  [cdkConnectedOverlayScrollStrategy]="scrollStrategy"
>
  <app-chat #chat></app-chat>
</ng-template> -->

<!-- <mat-drawer-container
  class="container"
  cdkOverlayOrigin
  #chatOverlay="cdkOverlayOrigin"
>
  <mat-drawer-content
    style="z-index: unset; overflow: hidden"
    class="drawer-container"
  >

  </mat-drawer-content>
</mat-drawer-container> -->

<!-- DRAWYER CHAT  END-->

<!-- .................................................... -->

<div
  id="chatgpt-hover-img"
  style="
    display: none;
    position: absolute;
    z-index: 99;
    top: 25%;
    right: 20%;
    display: none;
  "
>
  <img
    src="https://1.bp.blogspot.com/-NlychyKd4DY/YL7p6Odr48I/AAAAAAAABdA/qCqIVqfM0UQyOEzG_fqJF3gGlSppWgqSQCLcBGAsYHQ/s800/please-wait.gif"
    alt=""
  />
</div>

<button
  [ngStyle]="{ display: 'none' }"
  id="openCustomCss"
  (click)="openCustomCss()"
>
  customCss
</button>

<button
  [ngStyle]="{ display: 'none' }"
  id="openCustomHtml"
  (click)="openCustomHtml()"
>
  customHtml
</button>

<button
  [ngStyle]="{ display: 'none' }"
  id="trigger_chtgpt"
  (click)="chatGpt_exe()"
>
  customHtml
</button>

<button
  [ngStyle]="{ display: 'none' }"
  id="trigger_chtgpt_selected"
  (click)="chatGpt_selected_comp()"
>
  customHtml
</button>

<!-- <button
  [ngStyle]="{ display: 'none' }"
  id="openCustomJs"
  (click)="openCustomJs()"
>
  customJs
</button> -->

<!-- <button
  [ngStyle]="{ display: 'none' }"
  id="openCustomCdn"
  (click)="openCustomCdn()"
>
  customJs
</button> -->

<button
  [ngStyle]="{ display: 'none' }"
  id="save_trigger"
  (click)="saveGjsPage()"
>
  click here
</button>

<button
  [ngStyle]="{ display: 'none' }"
  id="cc_trigger"
  (click)="saveCustomComponent()"
>
  click here
</button>

<button [ngStyle]="{ display: 'none' }" id="t_trigger" (click)="saveTemplate()">
  click here
</button>

<div
  (click)="hideAll()"
  style="
    position: absolute;
    background: #262327;
    height: 20px;
    width: 80px;
    top: 0%;
    right: 50%;
    z-index: 5;
    border-radius: 5px;
    cursor: pointer;
  "
>
  <div style="justify-content: center; display: flex">
    <span style="position: relative; color: #fff">
      <i class="fa fa-caret-up" aria-hidden="true"></i>
    </span>
  </div>
</div>

<div
  id="styleManager"
  style="
    max-height: 70%;
    width: 25%;
    position: absolute;
    z-index: 3;
    top: 20%;
    right: 15%;
    background-color: #fff;
    padding: 5px;
    overflow-y: scroll;
    display: none;
    border-radius: 25px;
  "
>
  <div style="position: relative">
    <div id="styles-container"></div>
    <div id="style-manager"></div>
  </div>
</div>








<app-ai-component  
(sendResp)="getResp($event)"
[isDisplay]="isChatOpen"
[type]="gptType"
[typeValue]="gptTypeValue"></app-ai-component>

  <div id="gjs"></div>

