<mat-nav-list [style.maxHeight]="(menu.open)?'1200px':'48px'"
    [ngClass]="{'secondaryMenu': secondaryMenu, 'primary': !secondaryMenu}">
    <mat-list-item *ngIf="menu.link==false" (click)="menu.open = !menu.open">
        <!-- <mat-icon matListIcon iconsmall  >{{menu.icon}} </mat-icon> -->
        <mat-icon matListItemIcon iconsmall class="fa fa-normal16 fa-red" fontSet="fa"
            fontIcon="fa-{{menu.icon}}"></mat-icon>
        <h3 matListItemTitle matLine class="menu_title" *ngIf="!iconOnly" @slidePanel1>{{ menu.name }} </h3>
        <mat-chip-option *ngIf="menu?.chip && !iconOnly">
            <mat-chip-option>{{menu?.chip?.value}} </mat-chip-option>
        </mat-chip-option>
        <!-- <mat-icon matListIcon iconPositionEnd *ngIf="chechForChildMenu()" class="sidenav-dropdown-indicator rotate "
            [ngClass]="{'indicateOpen':menu.open}">expand_more</mat-icon> -->
    </mat-list-item>

    <mat-list-item *ngIf="menu.link!=false" (click)="menu.open = !menu.open" [routerLink]="[menu.link]">
        <!-- <mat-icon matListIcon iconsmall  >{{menu.icon}} </mat-icon> -->
        <mat-icon matListItemIcon iconsmall class="fa fa-normal16 fa-red" fontSet="fa"
            fontIcon="fa-{{menu.icon}}"></mat-icon>
        <div matListItemTitle matLine>
            <h3 class="menu_title" *ngIf="!iconOnly" @slidePanel1>{{ menu.name }} </h3>
            <!-- <mat-icon matListItemIcon iconPositionEnd *ngIf="!iconOnly && menu?.sub && menu.open" iconsmall
                class="customfab-icon" fontSet="fa" fontIcon="fa-chevron-down"></mat-icon>
            <mat-icon matListItemIcon  iconPositionEnd *ngIf="!iconOnly && menu?.sub && !menu.open"
                iconsmall class="fa fa-normal" fontSet="fa" fontIcon="fa-chevron-right"></mat-icon> -->
        </div>
    </mat-list-item>

    <div *ngIf="menu.open">
        <app-sidemenuitem *ngFor="let submenu of menu?.sub" [menu]="submenu" [iconOnly]="iconOnly"
            [secondaryMenu]="true"> </app-sidemenuitem>
    </div>

    <!-- <mat-divider></mat-divider> -->
</mat-nav-list>