<div style="margin: 3rem;">
    <h1 style="display: flex; justify-content: center;"> <b> New Version </b></h1>

    <h2>Please enter your version name</h2>
    <input style="
    padding: 10px;
    width: 100%;
    font-size: 20px;" type="text" id="versionName" class="input" placeholder="Version Name"
    formControlName="versionName" required matInput #versionName>

    <button (click)="createVersion(versionName.value)" style="
    margin: 15px 0px 15px;
    color: #fff;
    font-size: 18px;
    border: none;
    background-color: green;
    float: right;
    padding: 8px 12px;
    border-radius: 7px;">Create</button>
</div>