<div fxFlex fxLayout="column" fxLayoutAlign="space-between stretch" class="content-container-all">
    <mat-card>
        <mat-card-content>
            <div fxLayout="column" fxFlexFill fxLayoutGap cols="1">
                <div fxLayout="row" fxLayoutAlign="space-between center" style="height: 40px;">
                    <div class="page-sub-title" fxLayoutAlign="space-between center" >
                        Rooms List
                        <mat-form-field fxLayout="column" class="full-width ml-5 mr-2 " fxFlex appearance="outline">
                            <input type="text" id="roomNoSearch" class="input" placeholder="Search by Room ID"
                                matInput #roomNoSearch (keyup)="searchRoom($event.target['value'])"/>
                            <a mat-icon-button *ngIf="roomNoSearch.value" matSuffix md-icon-button
                                aria-label="Clear" (click)="roomNoSearch.value = ''">
                                <mat-icon>close</mat-icon>
                            </a>
                        </mat-form-field>
                        <mat-label class="label ml-3 ">Room Options</mat-label>
                        <mat-form-field fxLayout="column" class="full-width ml-2 mr-2" fxFlex appearance="outline">
                            <mat-select (selectionChange)='onRoomOptionChange($event.value)' value="">
                                    <mat-option value="">All</mat-option>                                                                      
                                <mat-option *ngFor="let option of roomOptions" [value]="option">{{option}}</mat-option>      
                            </mat-select>
                        </mat-form-field>
                        <mat-label class="label ml-3 ">Room Type</mat-label>
                        <mat-form-field fxLayout="column" class="full-width ml-2 mr-2" fxFlex appearance="outline">
                            <mat-select (selectionChange)='onRoomTypeChange($event.value)' value="">
                                <mat-option value="">All</mat-option>                                      
                                <mat-option *ngFor="let type of roomType" [value]="type">{{type}}</mat-option>      
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                    
                        <button mat-button mat-flat-button color="warn" (click)="onAdd()">
                            <mat-icon>add</mat-icon> Add
                        </button>
                        
                    </div>
                </div>
                 
            </div>

        </mat-card-content>
    </mat-card>

    <mat-grid-list *ngIf="rooms.length > 0 else loading" class="mt-3" cols="4" rowHeight="9:5">
        <mat-grid-tile  *ngFor="let room of rooms">
            
            
            <mat-card class="mat-elevation-z8" style="width:95%;padding:10px">
                <div class="activeIcon">
                    <a (click)="onEdit(room)"><mat-icon matTooltip="Edit" matTooltipPosition="below" style="font-size:large;cursor:pointer;margin-right:10px">edit</mat-icon></a>
                    <a (click)="onDelete(room)"><mat-icon matTooltip="Delete" matTooltipPosition="below" style="font-size:large;cursor:pointer;margin-right:10px;">delete</mat-icon></a>
                    <span *ngIf="room.currentAdmission" class="statusActive"  matTooltip="Reserved" matTooltipPosition="below"></span>
                    <span *ngIf="!room.currentAdmission" class="statusNotActive"  matTooltip="Empty" matTooltipPosition="below"></span>
                </div>
                <div style="cursor:pointer; margin-left:5%">
                    <mat-card-title class="page-sub-title">{{room.roomNo}}</mat-card-title>
                    <mat-card-subtitle>{{room.roomType}}</mat-card-subtitle>
                    <mat-card-subtitle>{{room.branch.title}}</mat-card-subtitle> 
                </div>
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions>
                    <button *ngIf="room.currentAdmission" mat-button (click)="checkPatientRecord(room)"  matTooltip="View Patient" matTooltipPosition="below">
                        <mat-icon>local_hotel</mat-icon>
                    </button>
                    <button mat-button *ngIf="room.currentAdmission"  matTooltip="Don't Disturb" matTooltipPosition="below">
                        <mat-icon>do_not_disturb_on_total_silence</mat-icon>
                    </button>
                    <button mat-button *ngIf="room.currentAdmission" matTooltip="Discharge" matTooltipPosition="below">
                        <mat-icon>space-shuttle</mat-icon>
                    </button>
                    
                    <button (click)="onAdmitPatient(room)" *ngIf="!room.currentAdmission" mat-button matTooltip="Admit Patient" matTooltipPosition="below">
                        <mat-icon>spatial_audio_off</mat-icon>
                    </button>
                    <button *ngIf="!room.currentAdmission" mat-button matTooltip="Call" matTooltipPosition="below">
                        <mat-icon>phone</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>

        </mat-grid-tile>

    </mat-grid-list>

    <mat-paginator [length]="paginatedRooms.length"
        [pageSize]="size"
        [pageIndex]="page"
        [pageSizeOptions]="[5, 10, 50, 100]"
        (page)="getData($event)">
    </mat-paginator>

    <ng-template #loading>
        <app-loading align="center"></app-loading>
    </ng-template> 
</div>