<div
  fxFlex
  fxLayout="column"
  fxLayoutAlign="space-between stretch"
  class="content-container-all"
>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex.xs="100%"
      fxFlex.sm="100%"
      fxFlex.md="65%"
      fxFlex.lg="65%"
      fxLayout="row"
      fxLayoutAlign.xs="center center"
    >
      <mat-card style="width: 100%;">
        <mat-card-content>
            <div
              fxLayout="row"
              fxLayoutAlign="space-between center"
              style="height: 40px"
            >
              <div class="page-sub-title ml-3"><b>CATEGORIES LIST</b></div>
              <mat-form-field id="search" appearance="outline">
                <input
                  placeholder="Search"
                  minlength="2"
                  (keyup)="applyFilter($event.target['value'])"
                  matInput
                  #search
                />
                <a
                  mat-icon-button
                  *ngIf="search.value"
                  matSuffix
                  md-icon-button
                  aria-label="Clear"
                  (click)="search.value = ''"
                >
                  <mat-icon>close</mat-icon>
                </a>
              </mat-form-field>
              <div>
                <!-- <a mat-button mat-flat-button color="warn" (click)="revert()">
                            <mat-icon>add</mat-icon> Add
                        </a> -->
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start stretch">
              <ng-container *ngIf="dataSource.data.length > 0; else loading">
                <mat-tree
                  [dataSource]="dataSource"
                  [treeControl]="treeControl"
                  style="width: 95%"
                >
                  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                    <button mat-icon-button disabled></button>
                    <div fxFlex="400" style="margin-top: 15px">
                      {{ node.title }}

                      <mat-icon
                        style="
                          font-size: 18px;
                          margin-left: 3px;
                          cursor: pointer;
                        "
                        (click)="onEdit(node.id)"
                        >edit</mat-icon
                      >
                      <mat-icon
                        style="
                          font-size: 18px;
                          font-weight: bold;
                          cursor: pointer;
                        "
                        (click)="onAdd(node.id)"
                        >add</mat-icon
                      >
                    </div>
                    <div>
                      <span
                        matBadge="{{ node.children.length }}"
                        matBadgeOverlap="false"
                      ></span>
                    </div>
                  </mat-tree-node>
                  <mat-tree-node
                    *matTreeNodeDef="let node; when: hasChild"
                    matTreeNodePadding
                  >
                    <button
                      mat-icon-button
                      matTreeNodeToggle
                      [attr.aria-label]="'Toggle ' + node.title"
                    >
                      <mat-icon class="mat-icon-rtl-mirror">
                        {{
                          treeControl.isExpanded(node)
                            ? "expand_more"
                            : "chevron_right"
                        }}
                      </mat-icon>
                    </button>
                    <div fxFlex="400" style="margin-top: 15px">
                      {{ node.title }}

                      <mat-icon
                        style="
                          font-size: 18px;
                          margin-left: 3px;
                          cursor: pointer;
                        "
                        (click)="onEdit(node.id)"
                        >edit</mat-icon
                      >
                      <mat-icon
                        style="
                          font-size: 18px;
                          font-weight: bold;
                          cursor: pointer;
                        "
                        (click)="onAdd(node.id)"
                        >add</mat-icon
                      >
                    </div>
                    <div>
                      <span
                        matBadge="{{ node.children.length }}"
                        matBadgeOverlap="false"
                      ></span>
                    </div>
                  </mat-tree-node>
                </mat-tree>
              </ng-container>
              <ng-template #loading>
                <app-loading align="center"></app-loading>
              </ng-template>
            </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div
      fxFlex.xs="100%"
      fxFlex.sm="100%"
      fxFlex.md="35%"
      fxFlex.lg="35%"
      fxLayout="row"
      fxLayoutAlign.xs="center center"
    >
      <mat-card style="width: 100%;">
        <mat-card-content>
          <form [formGroup]="categoryForm">
            <input type="hidden" id="id" formControlName="id" />
            <mat-tab-group>
              <mat-tab label="">
                <ng-template mat-tab-label>Category Detail</ng-template>
                <ng-template matTabContent>
                  <mat-dialog-content>
                    <div fxLayout="column" fxLayoutAlign="start stretch">
                      <div
                        fxLayout="column"
                        fxLayoutAlign="start stretch"
                        fxLayoutGap
                      >
                        <mat-label class="label m-2">Category Name</mat-label>
                        <mat-form-field
                          fxLayout="column"
                          class="full-width"
                          fxFlex
                          appearance="outline"
                        >
                          <input
                            type="text"
                            id="title"
                            class="input"
                            placeholder="Enter Category Name"
                            formControlName="title"
                            required
                            matInput
                            #title
                          />
                          <a
                            mat-icon-button
                            *ngIf="title.value"
                            matSuffix
                            md-icon-button
                            aria-label="Clear"
                            (click)="title.value = ''"
                          >
                            <mat-icon>close</mat-icon>
                          </a>
                          <mat-error *ngIf="">
                            Please enter a valid Title
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div
                        fxLayout="row"
                        fxLayoutAlign="space-between stretch"
                        fxLayoutGap
                      >
                        <div
                          fxLayout="column"
                          fxLayoutAlign="start stretch"
                          fxFlexOffset="1"
                          fxFlex
                        >
                          <mat-label class="label m-2"
                            >Parent Category</mat-label
                          >
                          <mat-form-field
                            class="full-width"
                            fxFlex
                            appearance="outline"
                          >
                            <input
                              matInput
                              readonly
                              value=""
                              formControlName="parentId"
                            />
                          </mat-form-field>
                        </div>
                      </div>
                      <div *ngIf="selectedId > 0">
                        <button
                          style="margin-top: 10px; float: right"
                          class="check"
                          mat-raised-button
                          color="warn"
                          (click)="onMove()"
                        >
                          <span class="material-icons">drive_file_move</span>
                          Move To
                        </button>
                      </div>
                    </div>
                  </mat-dialog-content>
                </ng-template>
              </mat-tab>
            </mat-tab-group>

            <mat-dialog-actions align="end">
              <button
                style="margin-top: 13px"
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="!categoryForm.valid"
                (click)="save()"
              >
                <mat-icon
                  class="customfab-icon-white"
                  fontSet="fa"
                  fontIcon="fa-save"
                ></mat-icon>
                Save
              </button>
              <a
                mat-button
                mat-flat-button
                color="warn"
                style="margin-left: 10px; margin-top: 13px"
                (click)="revert()"
              >
                <mat-icon>refresh</mat-icon> Reset
              </a>
              <button
                style="margin-top: 13px; margin-left: 10px"
                *ngIf="selectedId > 0"
                mat-raised-button
                color="warn"
                (click)="delete()"
              >
                <mat-icon>delete</mat-icon> Delete
              </button>
            </mat-dialog-actions>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
