<form [formGroup]="userForm">
    <div class="m-3">
        <div fxLayout="row" fxLayoutAlign="space-between center" style="height: 40px;">
            <div fxFlex>
                <h5 mat-dialog-title class="title-sub">User Detail</h5>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10">


                <button mat-flat-button [mat-dialog-close]="true" color="primary" type="submit" (click)="save()"
                    [disabled]="!userForm.valid">
                    <mat-icon class="customfab-icon-white" fontSet="fa" fontIcon="fa-save"></mat-icon> Save
                </button>
                <button mat-icon-button mat-dialog-close cdkFocusInitial>
                    <mat-icon class="fa fa-large mr-2" fontSet="fa" fontIcon="fa-times"></mat-icon>
                </button>

            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <!-- <mat-dialog-content> -->
    <input type="hidden" id="id" formControlName="id">
    <div fxLayout="column" fxFlexFill>

        <mat-tab-group>
            <mat-tab label="Page Info">
                <ng-template mat-tab-label>
                    Basic Info
                </ng-template>
                <ng-template matTabContent>
                    <mat-dialog-content>

                        <div fxLayout="column" fxLayoutAlign="start stretch">
                            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap>
                                <mat-label class="label m-2">Title</mat-label>
                                <mat-form-field fxLayout="column" class="full-width" fxFlex appearance="outline">

                                    <input type="text" id="title" class="input" placeholder="Enter title"
                                        formControlName="title" required matInput #title>
                                    <a mat-icon-button *ngIf="title.value" matSuffix md-icon-button
                                        aria-label="Clear" (click)="title.value=''">
                                        <mat-icon>close</mat-icon>
                                </a>
                                    <mat-error *ngIf="">
                                        Please enter a valid title
                                    </mat-error>

                                </mat-form-field>
                            </div>
                            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap>
                                <mat-label class="label m-2">Username</mat-label>
                                <mat-form-field fxLayout="column" class="full-width" fxFlex appearance="outline">

                                    <input type="text" id="username" class="input" placeholder="Enter username"
                                        formControlName="username" required matInput #username>
                                    <a mat-icon-button *ngIf="username.value" matSuffix md-icon-button
                                        aria-label="Clear" (click)="username.value=''">
                                        <mat-icon>close</mat-icon>
                                </a>
                                    <mat-error *ngIf="">
                                        Please enter a valid username
                                    </mat-error>

                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap>
                                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10" fxFlex>
                                    <mat-label class="label m-2">First Name</mat-label>
                                    <mat-form-field fxLayout="column" class="full-width" fxFlex appearance="outline">
                                        <input type="text" id="firstName" class="input" placeholder="Enter first Name"
                                            formControlName="firstName" required matInput #firstName>
                                        <a mat-icon-button *ngIf="firstName.value" matSuffix md-icon-button
                                            aria-label="Clear" (click)="firstName.value=''">
                                            <mat-icon>close</mat-icon>
                                    </a>
                                        <mat-error *ngIf="">
                                            Please enter a valid first name
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap>
                                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10" fxFlex>
                                    <mat-label class="label m-2">Last Name</mat-label>
                                    <mat-form-field fxLayout="column" class="full-width" fxFlex appearance="outline">
                                        <input type="text" id="lastName" class="input" placeholder="Enter last Name"
                                            formControlName="lastName" required matInput #lastName>
                                        <a mat-icon-button *ngIf="lastName.value" matSuffix md-icon-button
                                            aria-label="Clear" (click)="lastName.value=''">
                                            <mat-icon>close</mat-icon>
                                    </a>
                                        <mat-error *ngIf="">
                                            Please enter a valid last name
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap>
                                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10" fxFlex>
                                    <mat-label class="label m-2">Email</mat-label>
                                    <mat-form-field fxLayout="column" class="full-width" fxFlex appearance="outline">
                                        <input type="text" id="email" class="input" placeholder="Enter email"
                                            formControlName="email" required matInput #email>
                                        <a mat-icon-button *ngIf="email.value" matSuffix md-icon-button
                                            aria-label="Clear" (click)="email.value=''">
                                            <mat-icon>close</mat-icon>
                                    </a>
                                        <mat-error *ngIf="">
                                            Please enter a valid email
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap>
                                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10" fxFlex>
                                    <mat-label class="label m-2">Mobile</mat-label>
                                    <mat-form-field fxLayout="column" class="full-width" fxFlex appearance="outline">
                                        <input type="text" id="mobile" class="input" placeholder="Enter mobile"
                                            formControlName="mobile" required matInput #mobile>
                                        <a mat-icon-button *ngIf="mobile.value" matSuffix md-icon-button
                                            aria-label="Clear" (click)="mobile.value=''">
                                            <mat-icon>close</mat-icon>
                                    </a>
                                        <mat-error *ngIf="">
                                            Please enter a valid mobile
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <!-- <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap>
                                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10" fxFlex>
                                    <mat-label class="label m-2">Password</mat-label>
                                    <mat-form-field fxLayout="column" class="full-width" fxFlex appearance="outline">
                                        <input type="text" id="password" class="input" placeholder="Enter password"
                                            formControlName="password" required matInput #password>
                                        <a mat-icon-button *ngIf="password.value" matSuffix md-icon-button
                                            aria-label="Clear" (click)="password.value=''">
                                            <mat-icon>close</mat-icon>
                                    </a>
                                        <mat-error *ngIf="">
                                            Please enter a valid password
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div> -->

                            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10" fxFlexFill>
                                <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap>
                                    <mat-checkbox class="full-width" formControlName="active" fxFlex>Is Active</mat-checkbox>
                                </div>
                                </div>

                        </div>
                    </mat-dialog-content>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    Roles
                </ng-template>
                <ng-template matTabContent>
                    <app-roles-selection></app-roles-selection>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
    <!-- </mat-dialog-content> -->
    <mat-dialog-actions align="end">
       
                <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
                <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
                <button mat-raised-button [mat-dialog-close]="true" color="primary" type="submit"
                    [disabled]="!userForm.valid" (click)="save()">
                    <mat-icon class="customfab-icon-white" fontSet="fa" fontIcon="fa-save"></mat-icon> Save
                </button>
            
    </mat-dialog-actions>
</form>