<div fxFlex fxFlexFill fxLayout="column" fxLayoutAlign="space-between stretch" style="height: 900px !important">

    <sqd-designer fxFlex fxFlexFill theme="light" [undoStackSize]="10" [definition]="definition"
        style="height: 900px !important" [toolboxConfiguration]="toolboxConfiguration"
        [stepsConfiguration]="stepsConfiguration" [validatorConfiguration]="validatorConfiguration" [controlBar]="true"
        [areEditorsHidden]="false" [globalEditor]="globalEditor" [stepEditor]="stepEditor"
        (onReady)="onDesignerReady($event)" (onDefinitionChanged)="onDefinitionChanged($event)">
    </sqd-designer>

    <ng-template #globalEditor let-editor>
        <h2>Global Editor</h2>



        <button mat-button (click)="AddNewRule()">
            <mat-icon class="customfab-icon-black-sm">add</mat-icon>
            Add New Rule
        </button>

        <button mat-button (click)="SaveRule()">
            <mat-icon class="customfab-icon-black-sm">save</mat-icon>
            Save Rule
        </button>

        



        <h3>Velocity</h3>
        <mat-form-field class="full-width">
            <input matInput type="number" [value]="editor.definition.properties.velocity"
                (input)="updateProperty(editor.definition.properties, 'velocity', $event, editor.context)" />
        </mat-form-field>
    </ng-template>

    <ng-template #stepEditor let-editor fxLayout="column">
        <div class="p-2">
            <h2>Rule Editor</h2>

            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="5px">
                <div fxLayout="column" fxLayoutAlign="start stretch">
                    <mat-label class="label m-2">Name</mat-label>
                    <mat-form-field fxLayout="column" class="full-width" fxFlex appearance="outline">
                        <input type="text" id="Title" class="input" placeholder="Enter Title" [value]="editor.step.name"
                            (input)="updateName(editor.step, $event, editor.context)" required matInput #Title>
                        <button mat-icon-button *ngIf="Title.value" matSuffix md-icon-button aria-label="Clear"
                            (click)="Title.value=''">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-error *ngIf="">
                            Please enter a valid Title
                        </mat-error>
                    </mat-form-field>
                </div>


                <div *ngIf="editor.step.properties?.expression_title" fxLayout="column" fxLayoutAlign="start stretch">
                    <mat-label class="label m-2">{{editor.step.properties.expression_title}}</mat-label>
                    <mat-form-field fxLayout="column" class="full-width" fxFlex appearance="outline">
                        <input matInput type="text" [value]="editor.step.properties.expression"
                            (input)="updateProperty(editor.step.properties, 'expression', $event, editor.context)" />
                        <button mat-icon-button *ngIf="Title.value" matSuffix md-icon-button aria-label="Clear"
                            (click)="Title.value=''">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-error *ngIf="">
                            Please enter a valid Title
                        </mat-error>
                    </mat-form-field>
                </div>




                
                <div *ngIf="editor.step.properties?.email" fxLayout="column" fxLayoutAlign="start stretch">
                    <mat-label class="label m-2">{{editor.step.properties.emailTitle}}</mat-label>
                    <mat-form-field fxLayout="column" class="full-width" fxFlex appearance="outline">
                        <input matInput type="text" [value]="editor.step.properties.email"
                            (input)="updateProperty(editor.step.properties, 'email', $event, editor.context)" />
                        <button mat-icon-button *ngIf="Title.value" matSuffix md-icon-button aria-label="Clear"
                            (click)="Title.value=''">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-error *ngIf="">
                            Please enter a valid email
                        </mat-error>
                    </mat-form-field>
                </div>



                <div *ngIf="editor.step.properties?.subject" fxLayout="column" fxLayoutAlign="start stretch">
                    <mat-label class="label m-2">{{editor.step.properties.subjectTitle}}</mat-label>
                    <mat-form-field fxLayout="column" class="full-width" fxFlex appearance="outline">
                        <input matInput type="text" [value]="editor.step.properties.subject"
                            (input)="updateProperty(editor.step.properties, 'subject', $event, editor.context)" />
                        <button mat-icon-button *ngIf="Title.value" matSuffix md-icon-button aria-label="Clear"
                            (click)="Title.value=''">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-error *ngIf="">
                            Please enter a valid subject
                        </mat-error>
                    </mat-form-field>
                </div>


                
                <div *ngIf="editor.step.properties?.body" fxLayout="column" fxLayoutAlign="start stretch">
                    <mat-label class="label m-2">{{editor.step.properties.bodyTitle}}</mat-label>
                    <mat-form-field fxLayout="column" class="full-width" fxFlex appearance="outline">
                        <input matInput type="text" [value]="editor.step.properties.body"
                            (input)="updateProperty(editor.step.properties, 'body', $event, editor.context)" />
                        <button mat-icon-button *ngIf="Title.value" matSuffix md-icon-button aria-label="Clear"
                            (click)="Title.value=''">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-error *ngIf="">
                            Please enter a valid body
                        </mat-error>
                    </mat-form-field>
                </div>

                
                <div *ngIf="editor.step.properties?.mobileNumber" fxLayout="column" fxLayoutAlign="start stretch">
                    <mat-label class="label m-2">{{editor.step.properties.mobileNumberTitle}}</mat-label>
                    <mat-form-field fxLayout="column" class="full-width" fxFlex appearance="outline">
                        <input matInput type="text" [value]="editor.step.properties.mobileNumber"
                            (input)="updateProperty(editor.step.properties, 'mobileNumber', $event, editor.context)" />
                        <button mat-icon-button *ngIf="Title.value" matSuffix md-icon-button aria-label="Clear"
                            (click)="Title.value=''">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-error *ngIf="">
                            Please enter a valid mobile number
                        </mat-error>
                    </mat-form-field>
                </div>





                <div *ngIf="editor.step.properties?.message" fxLayout="column" fxLayoutAlign="start stretch">
                    <mat-label class="label m-2">{{editor.step.properties.messageTitle}}</mat-label>
                    <mat-form-field fxLayout="column" class="full-width" fxFlex appearance="outline">
                        <input matInput type="text" [value]="editor.step.properties.message"
                            (input)="updateProperty(editor.step.properties, 'message', $event, editor.context)" />
                        <button mat-icon-button *ngIf="Title.value" matSuffix md-icon-button aria-label="Clear"
                            (click)="Title.value=''">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-error *ngIf="">
                            Please enter a valid Message
                        </mat-error>
                    </mat-form-field>
                </div>



                
                <div *ngIf="editor.step.properties?.url" fxLayout="column" fxLayoutAlign="start stretch">
                    <mat-label class="label m-2">{{editor.step.properties.urlTitle}}</mat-label>
                    <mat-form-field fxLayout="column" class="full-width" fxFlex appearance="outline">
                        <input matInput type="text" [value]="editor.step.properties.url"
                            (input)="updateProperty(editor.step.properties, 'url', $event, editor.context)" />
                        <button mat-icon-button *ngIf="Title.value" matSuffix md-icon-button aria-label="Clear"
                            (click)="Title.value=''">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-error *ngIf="">
                            Please enter a valid url
                        </mat-error>
                    </mat-form-field>
                </div>



                <div *ngIf="editor.step.properties?.method" fxLayout="column" fxLayoutAlign="start stretch">
                    <mat-label class="label m-2">{{editor.step.properties.methodTitle}}</mat-label>
                    <mat-form-field fxLayout="column" class="full-width" fxFlex appearance="outline">
                        <input matInput type="text" [value]="editor.step.properties.method"
                            (input)="updateProperty(editor.step.properties, 'method', $event, editor.context)" />
                        <button mat-icon-button *ngIf="Title.value" matSuffix md-icon-button aria-label="Clear"
                            (click)="Title.value=''">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-error *ngIf="">
                            Please enter a valid method
                        </mat-error>
                    </mat-form-field>
                </div>




                <div *ngIf="editor.step.properties?.userId" fxLayout="column" fxLayoutAlign="start stretch">
                    <mat-label class="label m-2">{{editor.step.properties.userIdTitle}}</mat-label>
                    <mat-form-field fxLayout="column" class="full-width" fxFlex appearance="outline">
                        <input matInput type="text" [value]="editor.step.properties.userId"
                            (input)="updateProperty(editor.step.properties, 'userId', $event, editor.context)" />
                        <button mat-icon-button *ngIf="Title.value" matSuffix md-icon-button aria-label="Clear"
                            (click)="Title.value=''">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-error *ngIf="">
                            Please enter a valid userId
                        </mat-error>
                    </mat-form-field>
                </div>







                <div *ngIf="editor.step.properties?.operatorTitle && editor.step.sequence.length > 0" fxLayout="column" fxLayoutAlign="start stretch">
                    <mat-label class="label m-2">{{editor.step.properties.operatorTitle}}</mat-label>
                    <mat-form-field fxLayout="column" class="full-width" fxFlex appearance="outline">


                        <mat-select placeholder="Type" #durationType>
                            <mat-option *ngFor="let dt of Operators" [value]="editor.step.properties.operator">
                                {{dt.viewValue}}</mat-option>
                        </mat-select>
                        <button mat-icon-button *ngIf="Title.value" matSuffix md-icon-button aria-label="Clear"
                            (click)="Title.value=''">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-error *ngIf="">
                            Please select Operator
                        </mat-error>
                    </mat-form-field>
                </div>

                <div   *ngIf="editor.step.properties?.success_event_title " fxLayout="column" fxLayoutAlign="start stretch">
                    <mat-label class="label m-2">{{editor.step.properties.success_event_title}}</mat-label>
                    <mat-form-field fxLayout="column" class="full-width" fxFlex appearance="outline">


                        <input matInput type="text" [value]="editor.step.properties.successEvent"
                            (input)="updateProperty(editor.step.properties, 'successEvent', $event, editor.context)" />
                        <button mat-icon-button *ngIf="Title.value" matSuffix md-icon-button aria-label="Clear"
                            (click)="Title.value=''">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-error *ngIf="">
                            Please select Operator
                        </mat-error>
                    </mat-form-field>
                </div>

                <div *ngIf="editor.step.properties?.errorMessageTitle"  fxLayout="column" fxLayoutAlign="start stretch">
                    <mat-label class="label m-2">{{editor.step.properties.errorMessageTitle}}</mat-label>
                    <mat-form-field fxLayout="column" class="full-width" fxFlex appearance="outline">

                        <input matInput type="text" [value]="editor.step.properties.errorMessage"
                            (input)="updateProperty(editor.step.properties, 'errorMessage', $event, editor.context)" />
                        <button mat-icon-button *ngIf="Title.value" matSuffix md-icon-button aria-label="Clear"
                            (click)="Title.value=''">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-error *ngIf="">
                            Please select Operator
                        </mat-error>
                    </mat-form-field>
                </div>

                <div *ngIf="editor.step.properties?.enabled_title " fxLayout="column" fxLayoutAlign="start stretch">
                    <mat-label class="label m-2">{{editor.step.properties.enabled_title}}</mat-label>
                    <mat-form-field fxLayout="column" class="full-width" fxFlex appearance="outline">

                        <input matInput type="bool" [value]="editor.step.properties.enabled"
                            (input)="updateProperty(editor.step.properties, 'enabled', $event, editor.context)" />
                        <button mat-icon-button *ngIf="Title.value" matSuffix md-icon-button aria-label="Clear"
                            (click)="Title.value=''">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-error *ngIf="">
                            Please select Operator
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>




        
        <!-- <mat-tab-group>
            <mat-tab label="Basic">
                <h3>Name</h3>
                <mat-form-field class="full-width">
                    <input matInput type="text" [value]="editor.step.name"
                        (input)="updateName(editor.step, $event, editor.context)" />
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput type="text" [value]="editor.step.properties.expression"
                        (input)="updateProperty(editor.step.properties, 'expression', $event, editor.context)" />
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-select placeholder="Type" #durationType>
                        <mat-option *ngFor="let dt of Operators" [value]="editor.step.properties.operator">
                            {{dt.viewValue}}</mat-option>
                    </mat-select>

                    <input matInput type="number" [value]="editor.step.properties.operator"
                        (input)="updateProperty(editor.step.properties, 'operator', $event, editor.context)" />
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput type="text" [value]="editor.step.properties.successEvent"
                        (input)="updateProperty(editor.step.properties, 'successEvent', $event, editor.context)" />
                </mat-form-field>
                <mat-form-field class="full-width"><input matInput type="text"
                        [value]="editor.step.properties.errorMessage"
                        (input)="updateProperty(editor.step.properties, 'errorMessage', $event, editor.context)" />
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput type="bool" [value]="editor.step.properties.enabled"
                        (input)="updateProperty(editor.step.properties, 'enabled', $event, editor.context)" />
                </mat-form-field>
            </mat-tab>
        </mat-tab-group> -->
    </ng-template>
    <!-- 
<div class="block">
    <button mat-raised-button color="primary" (click)="reloadDefinitionClicked()">Reload definition</button>
    &nbsp; Is valid: <strong>{{ isValid }}</strong>
</div>

<div class="block">
    <mat-form-field class="full-width flex-1s">
        <textarea matInput cols="120" rows="16" readonly>{{ definitionJSON }}</textarea>
    </mat-form-field>
</div>

<div class="block">
    This demo uses Angular, Material UI and
    <a href="https://github.com/nocode-js/sequential-workflow-designer/tree/main/angular/designer"
        target="_blank">Sequential Workflow Designer for Angular</a>.
</div> -->

</div>

