<mat-card appearance="outlined" fxFlex [style.background-color]="background">
    <mat-card-content>
        <div [fxLayout]="(layout === 'vertical')?'column':'row'" fxLayoutAlign="start center">
            <div fxFlex fxLayout="column" fxLayoutAlign="space-between start">
                <mat-icon class="customfab-icon-black" fontSet="fa" [fontIcon]="icon" [style.color]="color"></mat-icon>
                <label class="label">{{label}}</label>
            </div>
            <label class="title">{{total}}</label>
        </div>
    </mat-card-content>
</mat-card>
 